
<launch>

  <arg name="model" default="/home/nidhi/ws_moveit/src/generate_points_tree/robot/robot_tree.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find generate_points_tree)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <!-- <node name="point_publisher" pkg="point_publisher" type="point_publisher" /> -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
